.footer-wrap{
  height: 2.75rem;
  background: var(--background-color);
  border-top-width: 0.0625rem;
  border-top-style: solid;
  border-top-color: var(--light-border);
  .footer-pro-img{
    width: 1.6875rem;
    height: 1.6875rem;
    padding: 0.125rem;
  }
  .icon-btn{
    &.active{
      &:before{
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--text-color);
        position: absolute;
        left: 50%;
        bottom: -0.125rem;
        transform: translateX(-50%);
      }
    }
  }
  .btn{
    &.active{
      .footer-pro-img{
        content: none;
        border: 0.0625rem solid;
      }
    }
  }
}
