.header-wrap{
  height: 2.75rem;
  background-color: var(--background-color);
  border-bottom-color: var(--light-border);
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  span{
    color: var(--text-color);
  }
}

*{
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all .3s ease-in-out !important;
  border-color: var(--text-color);
}
