.portfolio-item-wrap{
    padding: 0.25rem;
    .portfolio-item{
      background-color: red;
      width: calc(50vw - 0.5rem);
      height: calc(50vw - 0.5rem);
      .img-fluid{
        background-color: $white;
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
}
.profile-img{
  width: 100px;
  height: 100px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
@media (min-width: 576px) {
    .portfolio-item-wrap{
        padding: 0.25rem;
        .portfolio-item{
            background-color: red;
            width: 11.5rem;
            height: 11.5rem;
        }
    }
}
