_auth="cHR1bGk6QUtDcDVlMnFaeTIxUlkyZnlmaFBGcFFFY1BxcDc5d0hmNjhwNUVWbmpZOFBURUFrZ1NiemN0akwxeGlDSk5XRDJSN1V6c3Ficg=="
always-auth=true
email=ptuli@trustwork.com
registry=https://mtech.jfrog.io/mtech/api/npm/mtech-npm-virtual/
