<!--
<section class="fixed-top" style="background: blue; height: 54px">
  <div class="container" style="background: red">
    <div class="d-flex justify-content-between pb-7p pt-7p">
      <div>
        <p>UI Developer</p>
      </div>
      <div>
        <input type="text">
      </div>
      <div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
-->
<!--<header class="header-wrap page-box px-3 d-flex justify-content-between align-content-center fixed-top">
  <button class="btn px-0"><i class="icon-settings font-size-24 align-middle"></i></button>
  <span class="py-2 font-weight-semi-bold font"> Resume</span>
  <button class="btn px-0"><i class="icon-user-plus font-size-24 align-middle"></i></button>
</header>-->
<header class="header-wrap page-box px-3 d-flex justify-content-center align-content-center fixed-top">
  <span class="py-2 font-weight-semi-bold font"> Resume</span>
</header>
