.custom-drawer{
  .modal-dialog{
    position: fixed;
    width: 100%;
    max-height: 80%;
    bottom: 0;
    left: 0;
    margin: 0;
    animation: 0.2s ease-in-out bottom-slide;
    .modal-content{
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }
}
@keyframes bottom-slide {
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0;
  }
}
