.custom-drawer{
  .modal-dialog{
    position: fixed;
    width: 100%;
    max-height: 80%;
    bottom: 0;
    left: 0;
    margin: 0;
    animation: 0.2s ease-in-out bottom-slide;
    .modal-content{
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }
}
.custom-centered-modal{
  .modal-content{
    border-radius: 0.625rem;
  }
}
@keyframes bottom-slide {
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0;
  }
}

.custom-modal{
  &.custom-drawer{
    top: auto;
    bottom: 0;
    height: 100%;
    background-color: rgba(var(--background-color), 0);
    &.modal{
      overflow: unset;
      &.fade{
        .modal-dialog{
          transform: translate(0, 100%);
        }
      }
      &.show{
        .modal-dialog{
          transform: none;
        }
      }
    }
    .modal-dialog{
      border-radius: 0.75rem 0.75rem 0 0;
      margin: 0;
    }
    .modal-content{
      border-radius: 0.75rem 0.75rem 0 0;
      max-height: calc(100vh - 8.125rem);
    }
    .modal-header{
      padding: 2.125rem 1rem 0.75rem;
      border-radius: 0.75rem 0.75rem 0 0;
      &::after{
        content: '';
        position: absolute;
        top: 0.75rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--light-border);
        border-radius: 0.25rem;
        width: 3rem;
        height: 0.25rem;
      }
    }
    .modal-body{
      padding: 2.5rem 1.5rem;
      height: auto;
      overflow: auto;
    }
  }
}
