h1,h2,h3,h4,h5,h6{
  margin-bottom: 4px !important;
  color: var(--text-color) !important;
}
p{
  margin-bottom: 4px !important;
  color: var(--text-color) !important;
}
a, a:active, a:visited, a:hover{
  color: var(--text-color) !important;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--background-color) !important;
}
ul{
  li{
    color: var(--text-color);
  }
}
/* width */
::-webkit-scrollbar {
  width: .625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar);
}
