@import "variables";
@import "custom";
@import "default-define";

/*pages*/
@import "pages/profile";
@import "components/buttons";
@import "components/card";
@import "components/modal";
@import "components/list";
@import "pages/header";
@import "pages/footer";

/*Custom Icons*/
@import "custom-icons";
