<app-header></app-header>
<section class="page-pt px-3 page-pb page-box min-vh-100">
  <!--Company lists-->
  <ng-container *ngFor="let exp of workExperience">
    <div class="project-list-wrap">
      <div class="project-list-top d-flex justify-content-between align-items-center py-2">
        <div class="d-flex align-items-center">
          <img [src]="exp.profile" class="project-img project-img-lg rounded-circle">
          <div class="ml-2">
            <h1 class="heading-title mb-0 font-weight-medium">{{exp.name}}</h1>
            <p class="text-muted font-size-12 m-0">{{ exp.designation }}</p>
          </div>
        </div>
        <div>
          <h1 class="heading-title mb-0 font-weight-medium">{{exp.duration}}</h1>
        </div>
      </div>
      <hr class="hor-line">
      <div class="project-list-middle">
        <img [src]="exp.imageSrc" class="project-img">
      </div>
      <hr class="hor-line">
      <!--Controls-->
      <div class="d-flex justify-content-end align-items-center py-1">
        <div *ngIf="exp.companyLink">
          <a target="_blank" [href]="exp.companyLink"><i class="icon-send font-size-24"></i></a>
        </div>
      </div>
      <!--Job Responsibility-->
      <div class="p-1" *ngIf="exp.jobDesc">
        <p class="heading-title mb-2">Job Responsibility</p>
        <ul class="mb-2">
          <ng-container *ngFor="let jobRes of exp.jobDesc">
            <li class="sub-heading">{{ jobRes }}</li>
          </ng-container>
        </ul>
      </div>
      <!--Projects-->
      <div class="p-1" *ngIf="exp.projects">
        <p class="heading-title mb-2">Projects
        <ul class="mb-2">
          <ng-container *ngFor="let projects of exp.projects">
            <li class="sub-heading"><a href="#" target="_blank">{{ projects }}</a></li>
          </ng-container>
        </ul>
      </div>
      <!--Tools used-->
      <div class="p-1" *ngIf="exp.languages">
        <p class="heading-title mb-2">Tools used
        <p class="heading-title mb-0 font-weight-medium">Programming Languages</p>
        <div class="my-3">
          <div class="d-flex flex-wrap project-list-top one-line-desc">
            <ng-container *ngFor="let language of exp.languages">
            <div class="d-flex align-items-center badge badge-primary m-1">
              <p class="project-img rounded-circle position-relative m-0"><span class="text-white" [innerHTML]="getFirstLetter(language)"></span></p>
              <div class="ml-2 bg-transparent">
                <p class="mb-0 font-weight-medium bg-transparent text-white">{{ language }}</p>
              </div>
            </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="exp.softwares">
        <p class="heading-title mb-0 font-weight-medium">Softwares</p>
        <div class="my-2">
          <div class="d-flex flex-wrap project-list-top one-line-desc">
            <ng-container *ngFor="let software of exp.softwares">
              <div class="d-flex align-items-center badge badge-primary m-1">
                <p class="project-img rounded-circle position-relative m-0"><span class="text-white" [innerHTML]="getFirstLetter( software )"></span></p>
                <div class="ml-2 bg-transparent">
                  <p class="mb-0 font-weight-medium bg-transparent text-white">{{ software }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>




