@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dtsaap');
  src:  url('fonts/icomoon.eot?dtsaap#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?dtsaap') format('truetype'),
  url('fonts/icomoon.woff?dtsaap') format('woff'),
  url('fonts/icomoon.svg?dtsaap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e911";
}
.icon-book-open:before {
  content: "\e90d";
}
.icon-tool:before {
  content: "\e90f";
}
.icon-briefcase:before {
  content: "\e910";
}
.icon-puzzle:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-send:before {
  content: "\e909";
}
.icon-more-horizontal:before {
  content: "\e90a";
}
.icon-more-vertical:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-user-plus:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-map-pin:before {
  content: "\e904";
}
