<app-header></app-header>
<section class="page-pt px-3 page-pb page-box min-vh-100 profile-wrap">
  <!--profile top img and name-->
  <div class="d-flex align-items-start mt-3 mb-4">
    <div>
      <img src="assets/images/profile.jpg" class="rounded-circle mr-4">
    </div>
    <div class="w-100">
      <h2 class="font-size-28 font-weight-thin">Akhilesh Kumar</h2>
      <p>Front End Developer</p>
<!--      <a class="btn btn-outline-darkest font-weight-semi-bold py-0 w-100" href="../../assets/images/resume/Akhilesh_Kumar.pdf" download>Download Resume</a>-->
    </div>
  </div>
  <!--profile desc-->
  <div class="mb-4">
    <h1 class="heading-title">Akhilesh Kumar</h1>
    <p class="sub-heading mb-3"> This is my home on the web where I post my thoughts and showcase my work and a bit about myself.</p>
    <p class="sub-heading mb-3">UI Developer with 3+ years of experience of proven leadership and meaningfully contributions to teams of varying size and scope and in Front-end web development using Angular, Typescript / Javascript ( js ), HTML/HTML5 and CSS/CSS3 and Node.</p>
    <p class="sub-heading">I try my hands on a lot of things but I consider myself best in designing and developing UI for projects. For the Frontend, I mostly use Angular with git as the version control system. For the Backend, I work best with node.js and php. For the Database, I work best with MySQL, currently learning MongoDB also</p>
  </div>
  <!--social handle wrap-->
  <div class="mb-4">
<!--    <div class="d-flex">
      <ng-container  *ngFor="let item of socialHandle">
          <div class="mr-2">
            <a [href]="item.link" target="_blank">
              <div class="circle-card">
                <div class="card-inner {{ item.background }}">
                  <i class="{{ item.icon }}"></i>
                </div>
              </div>
            </a>
            <p class="sub-heading font-size-12 text-truncate text-center text-muted mb-0 ">{{ item.title }} </p>
          </div>
      </ng-container>
    </div>-->

    <div class="custom-owl-carousel no-nav">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-container  *ngFor="let item of socialHandle">
          <ng-template carouselSlide>
            <a [href]="item.link" target="_blank">
              <div class="circle-card">
                <div class="card-inner {{ item.background }}">
                  <i class="{{ item.icon }}"></i>
                </div>
              </div>
            </a>
            <p class="sub-heading font-size-12 text-truncate text-center text-muted mb-0 mr-2">{{ item.title }} </p>
          </ng-template>
          </ng-container>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <hr class="hor-line">
  <div class="profile-overview d-flex justify-content-around align-items-center py-2">
    <div class="text-center">
      <p class="heading-title mb-0">3+ years</p>
      <p class="sub-heading text-muted mb-0">Experience</p>
    </div>
    <div class="text-center">
      <p class="heading-title mb-0">15+</p>
      <p class="sub-heading text-muted mb-0"> Projects</p>
    </div>
  </div>
  <hr class="hor-line">
  <a href="mailto:akhileshkr236@gmail.com" class="btn btn-primary get-in-touch">Get in touch</a>
</section>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body p-0 text-center">
    <ul class="list-group list-group-flush height-sm border-radius-10">
      <li class="list-group-item">Go to project</li>
      <li class="list-group-item">Copy link</li>
      <li class="list-group-item text-danger font-weight-bold" aria-label="Close" (click)="d('Cross click')">Cancel</li>
    </ul>
  </div>
</ng-template>
<ng-template #readMoreModal let-c="close" let-d="dismiss">
  <div class="modal-body p-0 text-center">
    <ul class="list-group list-group-flush height-sm border-radius-10">
      <li class="list-group-item">Go to project</li>
      <li class="list-group-item">Copy link</li>
      <li class="list-group-item text-danger font-weight-bold" aria-label="Close" (click)="d('Cross click')">Cancel</li>
    </ul>
  </div>
</ng-template>

