/*margin*/

.mb-7p{
  margin-bottom: 0.4375rem;
}
.mt-7p{
  margin-top: 0.4375rem;
}
.mt-65{
  margin-top: 4.0625rem;
}
.mt-100{
  margin-top: 6.25rem;
}

/*padding*/

.pt-3p{
  padding-top: 0.1875rem;
}
.pb-3p{
  padding-bottom: 0.1875rem;
}
.pl-3p{
  padding-left: 0.1875rem;
}
.pr-3p{
  padding-right: 0.1875rem;
}
.px-3p{
  padding-right: 0.1875rem;
  padding-left: 0.1875rem;
}
.py-3p{
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}
.pb-7p{
  padding-bottom: 0.4375rem;
}
.pt-7p{
  padding-top: 0.4375rem;
}
.pt-100{
  padding-top: 6.25rem;
}
.page-pt{
  padding-top: 2.75rem;
}
.page-pb{
  padding-bottom: 2.75rem;
}

.box-shadow-custom{
  box-shadow: 0 0.0625rem 0.1875rem $theme-box-shadow;
}
.box-shadow-none{
  box-shadow: none !important;
}
.border-radius-5{
  border-radius: 5px;
}
.border-color-dark{
  border-color: $black;
}

/*font size*/

.font-size-10{
  font-size: 0.625rem !important;
}
.font-size-24{
  font-size: 1.5rem !important;
}
.font-size-28{
  font-size: 1.75rem !important;
}

/*
font-weight*/
.font-weight-thin{
  font-weight: 300 !important;
}
.font-weight-medium{
  font-weight: 500 !important;
}
.font-weight-semi-bold{
  font-weight: 600 !important;
}


/*
custom class*/
.heading-title{
  font-size: 0.9375rem;
  font-weight: $font-weight-bold;
  color: rgba($headings-color, 0.9);
}
.sub-heading{
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $headings-color;
}
.hor-line{
  border-top: 0.0625rem solid rgba($black, 0.1);
  margin: 0 -1rem;
}

@media (min-width: 576px) {
  .page-box{
    max-width: 36rem;
    border-left: 0.0625rem solid rgba($black, 0.1);
    border-right: 0.0625rem solid rgba($black, 0.1);
    margin: 0 auto;
  }
}
