<footer class="footer-wrap page-box px-3 pb-1 d-flex justify-content-between align-content-center fixed-bottom">
  <button class="btn px-0 icon-btn position-relative box-shadow-none" routerLink="/work-experience"
    routerLinkActive="active"><i class="icon-briefcase font-size-24 align-middle"></i></button>
  <button class="btn px-0 icon-btn position-relative box-shadow-none" routerLink="/portfolio"
    routerLinkActive="active"><i class="icon-code font-size-24 align-middle"></i></button>
  <button class="btn px-0 icon-btn position-relative box-shadow-none" routerLink="/education"
    routerLinkActive="active"><i class="icon-book-open font-size-24 align-middle"></i></button>
  <button class="btn px-0 icon-btn position-relative box-shadow-none" routerLink="/skills" routerLinkActive="active"><i
      class="icon-tool font-size-24 align-middle"></i></button>
  <button class="btn px-0 position-relative box-shadow-none" routerLink="/profile" routerLinkActive="active"><img
      class="footer-pro-img rounded-circle border-color-dark" src="assets/images/profile.jpg"></button>
</footer>